<!DOCTYPE html>
<html class="no-js" lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="Lorem description">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        
        <link rel="stylesheet" href="assets/css/main.css">

        <meta property="og:url" content="http://google.com.br/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="title lorem" />
        <meta property="og:description" content="lorem impsun" />
        <meta property="og:image" content="https://scontent.frao1-2.fna.fbcdn.net/v/t1.0-9/403078_498480466875575_613224798_n.png?oh=0a4166c4e8146ae6441ed8ad241a571d&oe=5A298621" />
        <meta property="og:locale" content="pt_BR" />
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>