.c-footer {
  font-family: $main-font-family;
  margin-top: 20px;
}

.c-footer__credits {
  color: $black;
  font-weight: 600;
  display: block;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
